<app-header></app-header>
<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/support/faqs" routerLinkActive="active">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/support/terms" routerLinkActive="active">Terms Of Uses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/support/plans" routerLinkActive="active">Plans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/support/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/support/feedback" routerLinkActive="active">Feedback</a>
        </li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
