<!-- /* Please ❤ this if you like it! 😊 */ -->

<!-- Page wrapper/Container Section -->
<div class="container">
    <!-- Responsive Table Section -->
    <table class="responsive-table">
        <!-- Responsive Table Header Section -->
        <thead class="responsive-table__head">
            <tr class="responsive-table__row">
                <th class="responsive-table__head__title responsive-table__head__title--name">Name
                </th>
                <th class="responsive-table__head__title responsive-table__head__title--status">Status</th>
                <th class="responsive-table__head__title responsive-table__head__title--types">Types</th>
                <th class="responsive-table__head__title responsive-table__head__title--update">Uploaded At</th>
                <th class="responsive-table__head__title responsive-table__head__title--country">Traffic</th>
            </tr>
        </thead>
        <!-- Responsive Table Body Section -->
        <tbody class="responsive-table__body">
            <tr class="responsive-table__row">
                <td class="responsive-table__body__text responsive-table__body__text--name">
                    Developer Zahid
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--status">Active</td>
                <td class="responsive-table__body__text responsive-table__body__text--types">Attendee, F1</td>
                <td class="responsive-table__body__text responsive-table__body__text--update">Jul 17, 2021, 01:14 PM
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--country">256</td>
            </tr>
            <tr class="responsive-table__row">
                <td class="responsive-table__body__text responsive-table__body__text--name">
                    John Doe
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--status">New</td>
                <td class="responsive-table__body__text responsive-table__body__text--types">Attendee, F5</td>
                <td class="responsive-table__body__text responsive-table__body__text--update">Apr 24, 2021, 11:36 AM
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--country">27</td>
            </tr>
            <tr class="responsive-table__row">
                <td class="responsive-table__body__text responsive-table__body__text--name">
                    Ryan Guill
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--status">Inactive</td>
                <td class="responsive-table__body__text responsive-table__body__text--types">Attendee, MSR</td>
                <td class="responsive-table__body__text responsive-table__body__text--update">Aug 30, 2021, 05:54 PM
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--country">30</td>
            </tr>
            <tr class="responsive-table__row">
                <td class="responsive-table__body__text responsive-table__body__text--name">
                    Dan Broughan
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--status">Active</td>
                <td class="responsive-table__body__text responsive-table__body__text--types">Attendee, Instructor, MSR
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--update">Dec 15, 2021, 08:25 AM
                </td>
                <td class="responsive-table__body__text responsive-table__body__text--country">245</td>
            </tr>
        </tbody>
    </table>
</div>