<div class="footer" id="contactus">
    <div class="header">
        <div>
            <h1 style="margin-right: 10px;">MOODY</h1>
        </div>
        <div>
            <p style="font-weight: 600; font-size: 20px;">Subscribe to Our Newsletter</p>
            <form class="subscribe-form">
                <input type="email" placeholder="Enter your mail" class="subscribe-input">
                <button class="subscribe-btn">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="connect">
        <div>
            <a title="About Us" routerLink="/support/aboutus">About Us</a><span>|</span>
            <a routerLink="/support/faqs">FAQ</a><span>|</span>
            <a routerLink="/support/terms">Terms of Uses</a><span>|</span>
            <a routerLink="/support/plans">Plans</a><span>|</span>
            <a routerLink="/support/feedback" href="#feedback">Content Feedback</a><span>|</span>
            <a href="mailto:support@airtelxstream.in?subject=&amp;body=">Contact Us</a>
        </div>
        <div class="heading">
            <p style="font-weight: 600; font-size: 25px;">Connect with Us</p>
        </div>
        <div class="socialContainer">
            <app-socialmedia></app-socialmedia>
        </div>
        <div style="margin-top: 20px;">
            Copyright &copy; 2000, Moody Corporation
        </div>
    </div>
</div>