<div class="container">
    <div class="cards">
        <div class="card red">
            <p class="tip">234</p>
            <p class="second-text">Uploads</p>
        </div>
        <div class="card blue">
            <p class="tip">20.6GB</p>
            <p class="second-text">Storage Used (150GB)</p>
        </div>
        <div class="card green">
            <p class="tip">25<sup class="upper">&#9432;</sup></p>
            <p class="second-text">Today's Traffic</p>
        </div>
        <div class="card green">
            <p class="tip">$56</p>
            <p class="second-text">Total Revenue</p>
        </div>
    </div>
    <div class="upload">
        <app-uploadbox></app-uploadbox>
    </div>
    <div class="top-content">
        <app-content></app-content>
    </div>
</div>